{% comment %}
	Renders a section tab content

	Accepts:
	- sectionTabContent: {String} (Required)
	- sectionTabContentClass: {String}

	Usage:
	Render this snippet inside of sectionContent capture and pass it to section snippet.

	{% render 'section-tab-content', sectionTabContent: 'Content' %}
{% endcomment %}

<div class="section-tab-content{% if sectionTabContentClass %} {{ sectionTabContentClass }}{% endif %}">

    {{- sectionTabContent -}}

</div>