{% comment %}
	Renders a section tab

	Accepts:
	- sectionTab: {String} (Required)
	- sectionTabValue: {String}

	Usage:
	Render this snippet inside of sectionTabs capture and pass it to section snippet.

	{% render 'section-tab', sectionTab: 'Title' %}
{% endcomment %}

<div class="section-tab">

    <button type="button" name="section-tab-action" class="btn btn-text text-title"{% if sectionTabValue %} value="{{- sectionTabValue -}}"{% endif %}>
        {{- sectionTab -}}
    </button>

</div>