// Cookie policy
// -----------------------------------------------------------------------------------------

body.cookie-policy-visible {
    
    .cookie-policy {

        &.cookie-policy-position-middle {

            &:before {
                opacity: 0.4;
                visibility: visible;
                pointer-events: none;
                z-index: 10;
            }
        }
    }
}

.cookie-policy {
    position: fixed;
    z-index: 11;

    &.cookie-policy-position-middle {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #000000;
            opacity: 0;
            z-index: -1;
            transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
        }

        &.cookie-policy-layout-advanced {

            #cookie-policy-form {
                max-width: 1050px;
            }
        }

        #cookie-policy-form {
            position: relative;
            z-index: 11;
            transform: translate(calc(50vw - 50%), calc(50vh - 50%));
            max-width: 550px;
            @include media-breakpoint-down(lg) {
                max-width: calc(100vh - 2 * var(--style-grid-container-padding-x));
            }
        }

        .cookie-policy-inner {
            border: 1px solid var(--style-border-color);
            border-radius: var(--style-component-border-radius);
            width: calc(100% - 2rem);
            margin: 0 1rem;
            flex-direction: column;
            align-items: center;
            padding: spacer(5) spacer(4);
            z-index: 11;

            .cookie-policy-title {
                @include font-size($font-size-base * 1.5);
                margin-bottom: spacer(g);
            }
            
            .cookie-policy-consents {
                display: flex;
                gap: spacer(3);
                justify-content: start;
                flex-wrap: wrap;
                margin-top: spacer(4);

                .form-switch {

                    .form-check-label {
                        font-weight: $font-weight-medium;
                    }
                }
            }

            .cookie-policy-actions {
                display: flex;
                gap: spacer(2);
                width: 100%;
                margin-top: spacer(4);

                .btn {
                    flex: 1;
                }
            }

            @include media-breakpoint-down(lg) {

                .cookie-policy-actions {
                    width: 100%;
                    flex-direction: column;

                    #cookie-policy-required-cta {
                        order: 2;
                    }
                }

                .cookie-policy-consents {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 300px;

                    .form-switch {
                        display: flex;
                        padding-left: 0;

                        .form-check-input {
                            order: 2;
                        }

                        .form-check-label {
                            flex: 1;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
        }
    }

    &.cookie-policy-position-bottom {
        left: 0;
        right: 0;
        bottom: 0;

        .cookie-policy-inner {
            width: 100%;
            align-items: end;
            justify-content: space-between;
            padding: spacer(3) spacer(4);
            box-shadow: 0 -1px 10px 0 #acabab4d;
            gap: spacer(g);
            @include media-breakpoint-down(lg) {
                padding: spacer(5) spacer(4);
            }

            .cookie-policy-title {
                @include font-size($font-size-base * 1.3);
                margin-bottom: spacer(3);
            }

            .cookie-policy-actions {
                display: flex;
                gap: spacer(2);
            }

            .cookie-policy-consents {
                display: flex;
                gap: spacer(3);
                justify-content: start;
                flex-wrap: wrap;
                margin-top: spacer(3);

                .form-switch {

                    .form-check-label {
                        font-weight: $font-weight-medium;
                    }
                }
            }

            .btn {
                flex: 0 auto;
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;

                .btn {
                    flex: 1;
                }

                .cookie-policy-actions {
                    width: 100%;
                    flex-direction: column;

                    #cookie-policy-required-cta {
                        order: 2;
                    }
                }

                .cookie-policy-consents {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 300px;

                    .form-switch {
                        display: flex;
                        padding-left: 0;

                        .form-check-input {
                            order: 2;
                        }

                        .form-check-label {
                            flex: 1;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
        }
    }

    .cookie-policy-inner {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: var(--style-bg-color);
        color: var(--style-text-color);

        .cookie-policy-link-container {
            margin-top: spacer(4);
        }

        .cookie-policy-content {
            text-align: left;
            flex: 1;

            .cookie-policy-title {
                display: block;
                font-weight: $font-weight-bold;
            }
        }

        .cookie-policy-actions {
            display: flex;
        }
    }
}