// Countdown
// -----------------------------------------------------------------------------------------

.countdown {
    display: flex;
    justify-content: center;
    gap: spacer('g');
    padding-top: spacer('g');
    padding-bottom: spacer('g');

    .countdown-item {
        display: flex;
        flex-direction: column;
        row-gap: spacer(2);

        .countdown-item-value {
            font-size: $h1-font-size;
            min-width: 3.5rem;
            line-height: 1;
        }
    }
}