// Forms
// -----------------------------------------------------------------------------------------

// Check
.form-check {
	text-align: start;
}

// Check badge
.form-check-badges-container {
	margin-top: -#{spacer(4) / 2};
}

.form-check-badge {
	display: inline-block;
	margin-top: spacer(4) / 2;
	padding-right: $form-check-inline-margin-end / 2;

	.form-check-input {
		display: none;
		appearance: none;

		& ~ .form-check-label {
			background-color: var(--style-form-bg-color);
			border: $form-check-input-border-width solid var(--style-form-border-color);
			border-radius: 2rem;
			padding: .6rem 1.2rem;
			line-height: 1;
			cursor: pointer;
			@include font-size($font-size-base);
			@include transition($form-check-transition);
		}

		&.disabled {

			& ~ .form-check-label {
				opacity: $form-check-label-disabled-opacity;
				text-decoration: line-through;
			}
		}
	
		&[disabled],
		&:disabled {
	
			& ~ .form-check-label {
				cursor: default;
				pointer-events: none;
				opacity: $form-check-label-disabled-opacity;
				text-decoration: line-through;
			}
		}
	
		&:active,
		&:checked,
		&[type="checkbox"]:indeterminate {

			& ~ .form-check-label {
				background-color: var(--style-btn-bg-color);
				border-color: var(--style-btn-bg-color);
				color: var(--style-btn-text-color);
			}
		}
	}
}

// Check color swatch
.form-check-color-swatches-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: -#{spacer(4) / 2};

	&.form-check-color-swatches-gap-lg {
		margin-top: -#{spacer(4)};

		.form-check-color-swatch {
			margin-top: spacer(4);
		}
	}

	&.form-check-color-swatches-no-wrap {
		margin-top: 0;
		flex-wrap: nowrap;

		.form-check-color-swatch.form-check-color-swatch-inline {
			margin-top: 0;
		}
	}

	.form-check-color-swatch {
		margin-top: spacer(4) / 2;
		width: 100%;

		&.form-check-color-swatch-inline {
			width: auto;
		}
	}
}

.form-check-color-swatch {
	display: flex;
	align-items: center;
	width: 100%;
	--swatch-size: 2rem;
	--swatch-border-size: 2px;

	&.form-check-color-swatch-inline {
		display: inline-flex;
		padding-right: $form-check-inline-margin-end / 2;
	}

	&.form-check-color-swatch-sm {
		--swatch-size: 1.5rem;
		--swatch-border-size: 1.5px;
	}

	&.form-check-color-swatch-xs {
		--swatch-size: 0.75rem;
		--swatch-border-size: 1px;
	}

	&.form-check-color-swatch-transparent {
		--swatch-color: rgba(255, 255, 255);
		--swatch-accent-color: rgba(100, 100, 100, .5);

		.form-check-input {

			& + .form-check-label {
				font-size: 5px;
				background-color: var(--swatch-color);
				background-size: 2em 2em; 
				background-position: 0 0, 1em 0, 1em -1em, 0 -1em; 
				background-image:
					linear-gradient(45deg, var(--swatch-accent-color) 25%, transparent 25%), 
					linear-gradient(135deg, var(--swatch-accent-color) 25%, transparent 25%),
					linear-gradient(45deg, transparent 75%, var(--swatch-accent-color) 75%),
					linear-gradient(135deg, transparent 75%, var(--swatch-accent-color) 75%);
			}
		}
	}

	&.form-check-color-swatch-multicolor {

		.form-check-input {

			& + .form-check-label {
				background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
			}
		}
	}

	.form-check-input {
		display: none;
		appearance: none;

		& + .form-check-label {
			position: relative;
			width: var(--swatch-size);
			height: var(--swatch-size);
			margin: 0;
			border-radius: 50%;
			background: var(--swatch-color, --style-form-bg-color);
			cursor: pointer;
			@include transition($form-check-transition);

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: calc(var(--swatch-size) - 2px - var(--swatch-border-size));
				height: calc(var(--swatch-size) - 2px - var(--swatch-border-size));
				border: 2px solid var(--style-bg-color);
				border-radius: 50%;
				opacity: 0;
				visibility: hidden;
			}

			& + .form-check-label {
				flex: 1;
				margin-left: 0.5em;
				cursor: pointer;
				@include transition($form-check-transition);
			}
		}

		&.disabled {

			& + .form-check-label,
			& + .form-check-label + .form-check-label {
				opacity: $form-check-label-disabled-opacity;
				
			}

			& + .form-check-label:after {
				content: '';
				position: absolute;
				top: 50%;
				width: 100%;
				height: 1px;
				transform: rotate(45deg);
				background-color: var(--style-bg-color);
			}
		}
	
		&[disabled],
		&:disabled {
	
			& + .form-check-label,
			& + .form-check-label + .form-check-label {
				cursor: default;
				pointer-events: none;
				opacity: $form-check-label-disabled-opacity;
				
			}

			& + .form-check-label:after {
				content: '';
				position: absolute;
				top: 50%;
				width: 100%;
				height: 1px;
				transform: rotate(45deg);
				background-color: var(--style-bg-color);
			}
		}
	
		&:active,
		&:checked,
		&[type="checkbox"]:indeterminate {

			& + .form-check-label {

				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&[readonly]:not(:disabled):not(.disabled) {

			& + .form-check-label,
			& + .form-check-label + .form-check-label {
				cursor: default;
			}
		}
	}
}

// Check img
.form-check-imgs-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: -#{spacer(4) / 2};
}

.form-check-img {
	display: inline-block;
	margin-top: spacer(4) / 2;
	margin-right: $form-check-inline-margin-end / 2;

	&.form-check-img-simple {

		.form-check-input ~ .form-check-label {
			border: 0;
		}
	}

	.form-check-input {
		display: none;
		appearance: none;

		& ~ .form-check-label {
			border: $form-check-input-border-width solid var(--style-form-border-color);
			border-radius: calc(var(--style-product-image-border-radius) + 2px);
			cursor: pointer;
			font-size: 0;
			margin: 0;
		}

		&.disabled {

			& ~ .form-check-label {
				opacity: $form-check-label-disabled-opacity;
			}
		}
	
		&[disabled],
		&:disabled {
	
			& ~ .form-check-label {
				cursor: default;
				pointer-events: none;
				opacity: $form-check-label-disabled-opacity;
			}
		}
	
		&:active,
		&:checked,
		&[type="checkbox"]:indeterminate {

			& ~ .form-check-label {
				border-color: var(--style-btn-bg-color);
			}
		}
	}
}

// Form floating
.form-floating {

	@if $enable-input-borders == 'false' {
		--#{$prefix}border-color: transparent;
        --style-form-border-color: transparent;
    }

	& > label {
		width: 100%;
		line-height: $form-floating-line-height;
	}

	& > .form-control ~ label,
	& > .form-control:focus ~ label,
	& > .form-control:not(:placeholder-shown) ~ label,
	& > .form-control-plaintext ~ label,
	& > .form-select ~ label {
		color: var(--style-form-placeholder-color);
	}

	& > textarea.form-control {
		height: 130px;
	}
}

// Inputs
.form-check-input {

	&:not(:disabled):not(.disabled) {
		cursor: pointer;

		& + .form-check-label {
			cursor: pointer;
		}
	}	
}

.form-select {

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
}

.form-control-text {
	border: 0;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	appearance: none;
	background-color: transparent;

	&:focus {
		outline: 0;
	}
}

input,
select {
	&.form-control-text:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
}

textarea {
	
	&.form-control {
		border-radius: min(var(--style-input-border-radius), 20px);

		&.form-control-sm {
			border-radius: min(var(--style-input-border-radius), 20px);
		}

		&.form-control-lg {
			border-radius: min(var(--style-input-border-radius), 20px);
		}
	}
}
@if $enable-input-borders == 'false' {
	.form-control {
		--#{$prefix}border-color: transparent;
        --style-form-border-color: transparent;
    }
}