// Input group
// -----------------------------------------------------------------------------------------

.input-group {

    @if $enable-input-borders == 'false' {
        --style-form-border-color: transparent;

        .btn:not(:disabled):not(.disabled):focus,
        .input-group-text:focus,
        .form-control:focus {
            border-color: transparent
        }
    }

    &.input-group-focus {

        .btn:not(:disabled):not(.disabled),
        .input-group-text,
        .form-control {
            border-color: var(--style-form-border-focus-color);

            &:hover {
                border-color: var(--style-form-border-focus-color);
            }
        }
    }

    .border {
		--style-border-color: var(--style-form-border-color);
	}
 
	.btn {
        --style-btn-border-color: var(--style-form-border-color);
		--style-btn-border-radius: var(--style-input-border-radius);
        --style-icon-color: var(--style-form-text-color);
        --#{$prefix}btn-padding-x: #{$input-btn-padding-x};
        --#{$prefix}btn-padding-y: #{$input-btn-padding-y};
        --#{$prefix}btn-font-size: #{$input-btn-font-size};
        --#{$prefix}btn-line-height: #{$input-btn-line-height};
        border-width: $input-border-width;
        border-style: solid;
        border-color: var(--style-form-border-color);
        border-radius: $input-border-radius;

        &:not(:disabled):not(.disabled) {

            &:hover {
                @if $enable-input-borders == 'false' {
                    border-color: transparent;
                } @else {
                    border-color: var(--style-form-border-focus-color);
                }
            }
        }

        &:not(.btn-primary):not(.btn-secondary) {
            color: var(--style-form-text-color);
            background-color: var(--style-form-bg-color);
        }

        &.btn-icon {

            &:hover,
            &:focus {
                .svg-icon {
                    transform: translate(5px);
                }
            }
            
            .svg-icon {
                transition: transform .3s ease;
            }
        }
	}

    & > .btn,
    & > .input-group-text {

        & + .form-control,
        & + .form-floating > .form-control  {
            border-left: 0;
        }
    }

    & > .form-control,
    & > .form-floating {

        & + .btn,
        & + .input-group-text {
            border-left: 0;
        }
    }

    &:has(.form-floating) {

        .btn,
        .input-group-text {
            height: $form-floating-height;
            min-height: $form-floating-height;
            line-height: $form-floating-line-height;
        }
    }

    & > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        z-index: 5;
    }
}