// Pagination
// -----------------------------------------------------------------------------------------

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    .pagination-item-container {
        display: inline-flex;

        .paginate-item-previous {
            padding: spacer(6);
            border-radius: var(--style-border-radius);
            @include font-size($font-size-base * 1.6);
        }

        .paginate-item-text {
            @include font-size($font-size-base);
        }

        .paginate-item-next {
            padding: spacer(6);
            border-radius: var(--style-border-radius);
            @include font-size($font-size-base * 1.6);
        }
    }
}