{%- assign sectionTitle =  'general.page_not_found_title' | t -%}
{%- assign sectionSubtitle = 'general.page_not_found_subtitle' | t -%}

{%- capture sectionContent -%}

	<div class="text-center">

		<div class="mb-7">
			{%- render 'icon', icon: 'page-missing', class: 'svg-icon-10x' -%}
		</div>

		<a href="{{ routes.root_url }}" class="btn btn-primary">
			{{- 'general.back_to_home_page' | t -}}
		</a>

	</div>

{%- endcapture -%}

{% render 'section', sectionHandle: '.section-404', sectionTitle: sectionTitle, sectionTitleTag: 'h1', sectionSubtitle: sectionSubtitle, sectionContent: sectionContent, sectionHeaderTextAlign: 'center' %}

{% schema %}
{
    "name": {
        "en": "404",
        "fi": "404"
    },
    "tag": "section",
    "class": "section section-404",
    "is_creatable": false
}
{% endschema %}