// Account
// -----------------------------------------------------------------------------------------

.section-account-orders {

	.orders {

		.order {
			padding: spacer(4);

			.order-media {
				width: 70px;
			}

			.order-name {
				margin-bottom: spacer(1);

				.order-name-text {
                    line-height: $line-height-base;
                    margin-bottom: 0;
				}
			}

			.order-number {
				margin-bottom: spacer(1);

				.order-number-text {
					display: block;
					font-size: 90%;
					color: var(--style-text-accent-color);
				}
			}

			.order-date {
				display: block;
				font-size: 90%;
				color: var(--style-text-accent-color);
			}

			.order-total-price {
				text-align: right;
			}

			.order-status {
				margin-bottom: spacer(2);
				text-align: right;

				.order-status-text {
					font-weight: $font-weight-medium;
				}
			}
		}
	}
}

.section-account-order {

	.order {

		.order-details-container {
			margin-bottom: spacer(6);
		}

		.order-shipments-container {
			margin-bottom: spacer(6);

			.order-shipment-packages {

				.order-shipment-package {
					border-bottom: 1px solid var(--style-border-color);
					padding-top: spacer(3);
					padding-bottom: spacer(3);

					.order-shipment-package-media {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 70px;
						height: 100%;
					}

					.order-shipment-package-carrier-name {

						& + .order-shipment-package-tracking-code {
							margin-top: spacer(1);
						}
					}

					.order-shipment-package-tracking-code {

						.order-shipment-package-tracking-code-text {
							display: block;
	    					font-size: 90%;
	    					color: var(--style-text-accent-color);
						}
					}
				}
			}
		}

		.order-items-container {

			.order-items {

				.order-item {
					border-bottom: 1px solid var(--style-border-color);
					padding-top: spacer(3);
					padding-bottom: spacer(3);

					.order-item-media {
						width: 70px;
					}

					.order-item-name {
						margin-bottom: spacer(1);

						.order-item-name-text {
		                    line-height: $line-height-base;
		                    margin-bottom: 0;
						}
					}

					.order-item-quantity {

						.order-item-quantity-text {
							display: block;
	    					margin-bottom: spacer(1);
	    					font-size: 90%;
	    					color: var(--style-text-accent-color);
						}
					}

					.order-item-product-number {

						.order-item-product-number-text {
							display: block;
	    					margin-bottom: spacer(1);
	    					font-size: 90%;
	    					color: var(--style-text-accent-color);
						}
					}

					.order-item-attributes {
	    				margin-top: spacer(1);

	    				.order-item-attribute {
	    					display: block;
	    					margin-bottom: spacer(1);
	    					font-size: 90%;
	    					color: var(--style-text-accent-color);

	    					&:last-child {
	    						margin-bottom: 0;
	    					}
	    				}
	    			}

	    			.order-item-downloads {
	    				margin-top: spacer(1);
	    			}
				}
			}
		}

		.order-summary-container {
			margin-top: spacer(4);

			.order-summary {
				.order-total {
	    			font-weight: $font-weight-medium;
	    			margin-top: spacer(2);
	    		}
	    	}
		}
	}
}