// Announcement
// -----------------------------------------------------------------------------------------

.site-announcement-container {
    background-color: var(--style-announcement-bg-color);
    overflow: hidden;

    .site-announcement {
        display: flex;
        align-items: center;
        height: var(--style-announcement-height);

        .site-announcement-text {
            color: var(--style-announcement-text-color);
        }

        .swiper-slide-inner {
            display: flex;
            justify-content: var(--style-announcement-align);

            @include media-breakpoint-down(lg) {
                justify-content: center;
            }

            &.has-long-text {
        
                .site-announcement-text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: var(--style-announcement-align);
                    @include font-size($font-size-base * $announcementFontScale);

                    @include media-breakpoint-down(lg) {
                        text-align: center;
                        font-size: 90%;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}