// Catalog
// -----------------------------------------------------------------------------------------

$filters-mobile-navigation-header-height: 64px;
$filters-mobile-navigation-footer-height: 56px;

.section-catalog {

    .filters-mobile-navigation-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 6;
        overflow: hidden;

        &.filters-mobile-navigation-visible {
            visibility: visible;
            opacity: 1;
        }

        &.filters-mobile-navigation-active {

            .filters-mobile-navigation {
                z-index: 10;
                transform: translateZ(0);
                transition: transform 225ms cubic-bezier(0,0,.2,1),opacity 225ms cubic-bezier(0,0,.2,1);
            }
        }

        .filters-mobile-navigation {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transform: translate3d(0,100%,0);
            transition: transform 195ms cubic-bezier(.4,0,1,1),opacity 195ms cubic-bezier(.4,0,1,1);
            background-color: var(--style-bg-color);

            .filters-mobile-navigation-header {
                padding: spacer(4);
                border-bottom: 1px solid var(--style-border-color);
                height: 64px;

                .filters-mobile-navigation-header-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button[name="filters-mobile-navigation-hide"] {
                        margin-right: -18px;
                    }

                    .filters-mobile-navigation-header-text {
                        font-weight: $font-weight-bold;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .filters-mobile-navigation-footer {
                height: 56px;

                .filters-mobile-navigation-footer-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;

                    .btn {
                        text-align: center;
                        height: 100%;
                        border-radius: 0
                    }
                }
            }

            .filters-mobile-navigation-menu-container {
                height: calc(100% - #{$filters-mobile-navigation-header-height + $filters-mobile-navigation-footer-height});
                overflow: hidden;

                .filters-mobile-navigation-menu {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    @include list-unstyled();

                    .filters-mobile-navigation-menu-item {
                        display: flex;
                        flex-direction: column;
                        padding: spacer(4);
                        border-bottom: 1px solid var(--style-border-color);

                        &:last-child {
                            border-bottom: 0;
                        }

                        .filters-mobile-navigation-menu-item-header {
                            margin-bottom: spacer(4);

                            .filters-mobile-navigation-menu-item-header-text {
                                font-weight: $font-weight-bold;
                            }
                        }

                        .filters-mobile-navigation-menu-item-content {

                            .form-check {

                                .form-check-label {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .catalog-filters {
                height: 100%;
                overflow-y: scroll;
            }
        }
    }

    .category-subcategories {

        &.category-tags {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            box-sizing: content-box;

            .category-tag {
                border: 1px solid var(--style-border-color);

                .category-tag-content {
                    display: block;
                    @include font-size($font-size-base);
                    padding: .6rem .8rem;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .swiper-horizontal {
                width: 100%;

                .swiper-slide {
                    width: auto;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    width: 30px;
                    height: 30px;
                    margin-top: calc(0px - (30px / 2));
                    z-index: 10;
                }

                .swiper-button-prev,
                .swiper-rtl .swiper-button-next {
                    font-size: 1.5rem;
                    left: 4px;
                    right: auto;
                }

                .swiper-button-next,
                .swiper-rtl .swiper-button-prev {
                    font-size: 1.5rem;
                    right: 4px;
                    left: auto;
                }
            }
        }
    }

    .catalog-filters {

        .catalog-filter-dropdown {
            display: inline-flex;
            z-index: 1;

            .catalog-filter-btn {
                @include font-size($font-size-base);
                border: 1px solid var(--style-border-color);
                border-radius: 0;
                margin-bottom: spacer(3);
                margin-right: spacer(2);
                transition: none;
                min-width: 138px;
                background-color: var(--style-bg-color);
                color: var(--style-text-color);

                &[aria-expanded="true"] {

                    .svg-icon {
                        transform: rotate(180deg);
                    }
                }

                .catalog-filter-btn-text {
                    font-weight: $font-weight-normal;
                    margin-right: spacer(2);
                }
            }

            .catalog-filter-dropdown-menu {
                margin-top: spacer(2);
                min-width: 250px;
                border-radius: 0;
                overflow-y: auto;
                max-height: 300px;
            }
        }
    }

    .catalog-activated-filters {
        margin-top: calc(spacer(3) * -1);

        .item {
            display: inline-flex;
            margin-top: spacer(3);

            button {
                border: 0;
                border-radius: 0;
                margin: 0;
                padding: spacer(1) spacer(2);
                @include font-size($font-size-base * 0.95);

                &.catalog-remove-filter {
                    margin-right: spacer(2);
                    color: var(--style-text-color);
                    background-color: var(--style-bg-accent-color);

                    .catalog-activated-filter-icon {
                        margin-left: spacer(1);
                    }
                }

                &.catalog-reset-filters {
                    margin-left: -#{spacer(2)};
                    color: var(--style-text-color);
                    background-color: var(--style-bg-color);
                }
            }
        }
    }

    .category-list {
        line-height: 20px;
        @include list-unstyled();

        &.active-item {

            > .category-list-item-link,
            > .category-list-item-text {
                color: var(--style-accent-color);
            }
        }

        &.no-active-subcategories {

            > .category-list-item {

                > .category-list-item-link > .category-list-item-text,
                > .category-list-item-text {
                    font-weight: $font-weight-bold;
                    border-bottom-width: 2px;
                }
            }
        }

        .category-list-item {
            color: var(--style-link-color);

            &.has-active-item {
                font-weight: $font-weight-bold;

                .category-list-item-text {
                    border-bottom-width: 2px;
                }
            }

            .category-list-item-link {
                display: block;
                margin-bottom: .75rem;

                &:hover {
                    color: var(--style-link-color);

                    .category-list-item-text {
                        border-bottom-color: var(--style-link-color);
                    }
                }

                .category-list-item-text {
                    display: inline-block;
                    padding-bottom: 2px;
                }
            }

            .category-list-item-text {
                display: block;
                padding-bottom: .75rem;
                border-bottom: 1px solid transparent;
                transition: border .15s ease-in-out;
            }
        }

        .category-list-subcategory-container {
            padding-left: spacer(3);
            list-style: none;
        }
    }

    .catalog-dynamic-content {

        &.catalog-dynamic-content-loading {
            opacity: 0.6 !important;
            pointer-events: none !important;
        }
    }
}