// Header
// -----------------------------------------------------------------------------------------

$mobile-navigation-width: 100%;
$cart-offcanvas-width: 28rem;

.section-site-header {
    position: sticky;
    top: 0;
    z-index: 6;
    
    &:has(.site-search-floating.site-search-active:not(.animation-animated)) {
    
        .site-mobile-header-container,
        .site-mobile-navigation-container {
            visibility: hidden
        }
    }
    
    .site-search-floating {
        position: fixed;
        left: 20%;
        right: 20%;
        top: 200px;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        @include media-breakpoint-down(lg) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
        }

        &.site-search-active {
            z-index: 10;
            opacity: 1;
            visibility: visible;
        }

        .site-search {
            position: relative;
    
            &.active {
                
                .site-search-results-container {
                    visibility: visible;
                    z-index: 5;
                    border-top: 1px solid var(--style-border-color)
                }
            }
    
            .site-search-form-container {
                background-color: var(--style-bg-color);
                padding: spacer(2) 0;
                --style-form-text-color: var(--style-text-color);
                --style-form-bg-color: var(--style-bg-color);
    
                .site-search-form {

                    .btn,
                    .form-control {
                        border: 0;
                    }

                    input[type="search"] {
                        appearance: none;
                        -webkit-appearance: none;

                        &::-webkit-search-decoration,
                        &::-webkit-search-cancel-button,
                        &::-webkit-search-results-button,
                        &::-webkit-search-results-decoration {
                            appearance: none;
                            -webkit-appearance: none;
                        }
                    }

                    button[type="reset"] {
                        pointer-events: none;

                        .svg-icon {
                            visibility: hidden;
                        }
                    }

                    .input-group {

                        &:focus-within {

                            button[type="reset"] {
                                pointer-events: auto;

                                .svg-icon {
                                    visibility: visible;
                                }
                            }
                        }

                        @include media-breakpoint-down(lg) {

                            button[type="reset"] {
                                pointer-events: auto;

                                .svg-icon {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
    
            .site-search-results-container {
                position: absolute;
                left: 0;
                right: 0;
                visibility: hidden;
                z-index: -1;
                background-color: var(--style-bg-color);
                max-height: 60vh;
                overflow: auto;
                overscroll-behavior: none;
                @include media-breakpoint-down(lg) {
                    max-height: 78vh;
                }
    
                .site-search-results {
                    height: 100%;
    
                    .site-search-result-item {
                        display: block;
                        padding: spacer(3) spacer(4);
                        color: currentColor;
                        
                        &:hover {
                            background-color: var(--style-form-bg-hover-color);
                        }
    
                        .site-search-result-item-text {
                            font-family: $navigation-font-family;
                            font-style: $navigation-font-style;
                            font-size: inherit;
                        }
                    }
    
                    .site-search-no-results {
                        padding: spacer(3) spacer(4);
                    }
                }
            }
        }
    }

    .site-header-container {
        z-index: 5;
        transform: none;
        @include media-breakpoint-down(lg) {
            display: none;
        }

        &.site-header-container-transition {
            transition: transform 0.4s;
        }

        &.site-header-container-hide {
            transform: translateY(-100%);
        }

        .site-header {
            
            .site-header-items-container {
                background-color: var(--style-bg-color);
                border-bottom: 1px solid var(--style-border-color);
                padding-top: calc(var(--site-header-items-padding-y) * .5);
                padding-bottom: calc(var(--site-header-items-padding-y) * .5);

                .site-header-items {
                    display: grid;
                    grid-template-areas: 'items-start items-center items-end';
                    grid-template-columns: var(--site-header-template-columns);
                    grid-template-rows: var(--site-header-template-rows, none);
                    align-items: center;
                    --style-icon-stroke-width: var(--style-navigation-icon-stroke-width);

                    .site-header-items-nav-container {
                        display: flex;
                        grid-area: var(--site-header-nav-position);
                        justify-self: var(--site-header-nav-items-align);
                        flex-wrap: wrap;
                        position: relative;
                    }

                    .site-header-items-logo-container {
                        display: flex;
                        grid-area: var(--site-header-logo-position);
                        justify-self: var(--site-header-logo-items-align);
                        margin: var(--site-header-logo-margin);
                        text-align: center;
                        position: relative;
                    }

                    .site-header-items-actions-container {
                        display: flex;
                        grid-area: var(--site-header-actions-position);
                        justify-self: var(--site-header-actions-items-align);
                        position: relative;
                    }

                    .site-header-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        min-width: 32px;
                        box-sizing: content-box;

                        &:not(.site-header-logo) {
                            padding: spacer(2);
                        }

                        .svg-icon {
                            @include font-size($font-size-base * 1.6);
                        }
                    }
                }
            }

            .site-header-item-cart {
                z-index: 6;
            }

            .site-header-item-counter {
                position: absolute;
                top: 5px;
                right: 4px;
                height: 16px;
                min-width: 16px;
                border-radius: 50%;
                display: none;

                &.has-items {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--style-accent-color);
                    color: var(--style-accent-text-color);
                }

                .site-header-item-counter-text {
                    font-size: 12px;
                }
            }

            .site-header-cart-mini-container {
                position: absolute;
                top: var(--site-header-cart-mini-offset-top, auto);
                left: var(--site-header-cart-mini-offset-left, auto);
                right: var(--site-header-cart-mini-offset-right, 0);
                will-change: top;
                z-index: 5;
            }

            .site-header-logo-text {
                word-break: break-all;
                font-size: clamp(1rem, 1.7vw, 2rem);
            }

            .site-header-nav-container {
                position: relative;
                overflow: hidden;

                .site-header-menu {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: var(--style-grid-gutter-width);
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style: none;

                    .site-header-menu-item {
                        display: inline-flex;
                        padding-top: spacer(2);
                        padding-bottom: spacer(2);

                        &.site-header-menu-item-active {

                            .site-header-menu-item-text {
                                color: var(--style-accent-color);
                            }
                        }

                        .site-header-menu-item-text {
                            font-size: $navigation-font-size;
                            font-family: $navigation-font-family;
                            font-weight: $navigation-font-weight;
                            font-style: $navigation-font-style;
                            color: var(--style-link-color);
                            @if $navigation-letter-spacing != '0' {
                                letter-spacing: $navigation-letter-spacing;
                            }
                            @if $navigation-text-transform != 'none' {
                                text-transform: $navigation-text-transform;
                            }

                            &:not(a) {
                                cursor: default;
                            }

                            & + .site-header-submenu-indicator {
                                margin-left: spacer(2);
                                align-self: center;
                                @include font-size($font-size-base);
                            }
                        }
                    }
                }
            }

            .site-header-subnav-container {
                position: relative;

                .site-header-submenu {
                    width: 100%;
                    height: var(--site-header-submenu-height, 0);
                    visibility: hidden;
                    opacity: 0;
                    z-index: 5;
                    min-width: 200px;
                    background-color: var(--style-bg-color);
                    transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
                    box-shadow: 0 6px 12px rgba(0,0,0,.05);
                    position: absolute;
                    left: var(--site-header-submenu-offset-left, 0);
                    top: var(--site-header-submenu-offset-top, 0);
                    right: var(--site-header-submenu-offset-right, 0);
                    overflow: hidden;
                    will-change: height, visibility, opacity, left, top, right;
                    --style-accent-color: var(--style-submenu-accent-color);

                    &:not(.is-megamenu) {
                        width: fit-content;
                        box-shadow: 0 10px 25px rgb(0 0 0 / 15%);
            
                        &.site-header-submenu-active {
                            border-bottom: 0;
                            overflow: visible;
                        }

                        .site-header-sublevel {
                            position: absolute;
                            left: 100%;
                            top: -#{subtract(spacer(4), 0.015)};
                            visibility: hidden;
                            width: 100%;
                            display: none;
                            margin-top: 1px;
        
                            .site-header-sublevel-menu {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 0;
                                justify-content: center;
                                padding: var(--style-grid-gutter-width) 0;
                                list-style: none;
                                min-width: 200px;
                                background-color: var(--style-bg-color);
                                box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07), 0 10px 20px -2px rgba(0,0,0,0.04);
        
                                .site-header-sublevel-menu-item {
                                    display: inline-flex;
                                    padding: spacer(2) var(--style-grid-gutter-width);
                                    position: relative;
        
                                    &.site-header-sublevel-menu-item-active {
        
                                        .site-header-sublevel-menu-item-text {
                                            color: var(--style-accent-color);
                                        }
                                    }
        
                                    .site-header-sublevel-menu-item-text {
                                        font-family: $navigation-font-family;
                                        font-weight: $navigation-font-weight;
                                        font-style: $navigation-font-style;
                                        @include font-size($font-size-base * 0.85);
                                        color: var(--style-link-color);
                                        @if $navigation-letter-spacing != '0' {
                                            letter-spacing: $navigation-letter-spacing;
                                        }
                                        @if $navigation-text-transform != 'none ' {
                                            text-transform: $navigation-text-transform;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.is-megamenu {

                        .container {
                            padding-top: spacer(4);
                            padding-bottom: spacer(4);
                        }

                        .site-header-submenu-item {
                            display: flex;
                            flex-direction: column;
                            padding-top: 0;
                            padding-bottom: 0;
    
                            .site-header-submenu-item-menu {

                                .site-header-submenu-item-menu-item {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }
                        }
                    }

                    &.site-header-submenu-active {
                        visibility: visible;
                        opacity: 1;
                        overflow: visible;

                        .site-header-submenu-item {
                            
                            .site-header-submenu-item-title,
                            .site-header-submenu-item-img,
                            .site-header-submenu-item-menu {
                                transform: translateY(0);
                            }
                        }
                    }

                    .site-header-submenu-item {
                        display: inline-flex;
                        padding-top: var(--style-grid-gutter-width);
                        padding-bottom: var(--style-grid-gutter-width);

                        .site-header-submenu-item-img {
                            transform: translateY(20px);
                            transition-duration: .25s;
                        }

                        .site-header-submenu-item-title {
                            padding-top: spacer(2);
                            padding-bottom: spacer(2);
                            transform: translateY(20px);
                            transition-duration: .25s;

                            .site-header-submenu-item-title-text {
                                font-family: $navigation-font-family;
                                font-weight: 700;
                                font-style: $navigation-font-style;
                                color: var(--style-link-color);
                                @if $navigation-letter-spacing != '0' {
                                    letter-spacing: $navigation-letter-spacing;
                                }
                                @if $navigation-text-transform != 'none' {
                                    text-transform: $navigation-text-transform;
                                }
                            }
                        }

                        .site-header-submenu-item-menu {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            transform: translateY(20px);
                            transition-duration: .25s;
                            min-width: 200px;
                            margin-bottom: 0;
                            padding-left: 0;
                            list-style: none;
                            
                            .site-header-submenu-item-menu-item {
                                display: inline-flex;
                                padding: spacer(2) var(--style-grid-gutter-width);
                                position: relative;

                                &.site-header-submenu-item-menu-item-active {

                                    .site-header-submenu-item-menu-item-text {
                                        color: var(--style-accent-color);
                                    }
                                }

                                &:hover {

                                    & > .site-header-sublevel {
                                        visibility: visible;
                                        display: block;
                                    }
                                }

                                .site-header-submenu-item-menu-item-text {
                                    font-family: $navigation-font-family;
                                    font-weight: $navigation-font-weight;
                                    font-style: $navigation-font-style;
                                    @include font-size($font-size-base * 0.85);
                                    color: var(--style-link-color);
                                    @if $navigation-letter-spacing != '0' {
                                        letter-spacing: $navigation-letter-spacing;
                                    }
                                    @if $navigation-text-transform != 'none' {
                                        text-transform: $navigation-text-transform;
                                    }

                                    & + .site-header-submenu-indicator {
                                        margin-left: spacer(2);
                                        align-self: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .site-header-cart-offcanvas-container {
        position: fixed;
        right: 0;
        top: 0;
        width: $cart-offcanvas-width;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: auto;
        color: var(--style-text-color);
        background-color: var(--style-bg-color);
        transform: translate3d(100%, 0, 0);
        transition: transform .4s ease-in-out, visibility 0s linear .4s,opacity 1s;
        will-change: transform;
        overscroll-behavior: none;

        &.site-header-cart-offcanvas-visible {
            visibility: visible;
            opacity: 1;
            transform: translateZ(0);
            transition: transform .4s cubic-bezier(.75,0,.175,1), visibility 0s linear, opacity .4s;
        }
    }

    .site-header-cart-offcanvas-overlay {
        position: fixed;
        transition: background-color 195ms cubic-bezier(.4,0,1,1);
        z-index: -1;
        opacity: 0;

        &.site-header-cart-offcanvas-overlay-visible {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.15);
            z-index: 6;
            opacity: 1;
        }
    }

    .site-mobile-header-container {
        position: sticky;
        top: 0;
        z-index: 7;
        transition: transform 0.4s;
        transform: none;
        @include media-breakpoint-up(lg) {
            display: none;
        }

        &.site-mobile-header-container-hide {
            transform: translateY(-100%);
        }

        .site-mobile-header {
            padding-top: spacer(2);
            padding-bottom: spacer(2);
            background-color: var(--style-bg-color);
            border-bottom: 1px solid var(--style-border-color);

            .site-mobile-header-items-container {
                
                .site-mobile-header-items {
                    display: grid;
                    grid-template-areas: 'items-start items-center items-end';
                    grid-template-columns: var(--site-mobile-header-template-columns);
                    align-items: center;
                    --style-icon-stroke-width: var(--style-navigation-icon-stroke-width);

                    .site-mobile-header-items-nav-container {
                        display: flex;
                        grid-area: var(--site-mobile-header-nav-position);
                        justify-self: var(--site-mobile-header-nav-items-align);
                        position: relative;
                        margin-left: -#{spacer(2)};
                    }
        
                    .site-mobile-header-items-logo-container {
                        display: flex;
                        grid-area: var(--site-mobile-header-logo-position);
                        justify-self: var(--site-mobile-header-logo-items-align);
                        margin: var(--site-mobile-header-logo-margin);
                        text-align: center;
                        position: relative;
                    }
        
                    .site-mobile-header-items-actions-container {
                        display: flex;
                        grid-area: var(--site-mobile-header-actions-position);
                        justify-self: var(--site-mobile-header-actions-items-align);
                        position: relative;
                        margin-right: -#{spacer(2)};
                    }

                    .site-mobile-header-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        padding: spacer(2);
                        @include font-size($font-size-base * 1.6);
                        border: 1px solid transparent;
                        min-width: 32px;
                        box-sizing: content-box;
                    }

                    .site-mobile-header-item-logo {
                        padding: 0 spacer(2);
        
                        .site-mobile-header-logo-text {
                            @include font-size($font-size-base * 2.3);
                        }
                    }

                    .site-mobile-header-item-counter {
                        position: absolute;
                        top: 7px;
                        right: 4px;
                        height: 16px;
                        min-width: 16px;
                        border-radius: 50%;
                        display: none;
                        background-color: var(--style-accent-color);
                        color: var(--style-accent-text-color);
        
                        &.has-items {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
        
                        .site-mobile-header-item-counter-text {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .site-mobile-navigation-container {
        position: fixed;
        left: var(--site-mobile-navigation-container-offset-left, 0);
        top: var(--site-mobile-navigation-container-offset-top, 0);
        right: var(--site-mobile-navigation-container-offset-right, 0);
        bottom: var(--site-mobile-navigation-container-offset-bottom, 0);
        width: $mobile-navigation-width;
        height: var(--site-mobile-navigation-container-height, 100%);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        overflow-x: hidden;
        will-change: transform, visibility, opacity, height, top;
        color: var(--style-text-color);

        &.site-mobile-navigation-visible {
            visibility: visible;
            opacity: 1;
            z-index: 6;
            transform: translate3d(0,0,0);
        }

        &.site-mobile-navigation-active {

            .site-mobile-navigation-layer-root {
                z-index: 10;
                transform: translateZ(0);
                transition: transform .4s cubic-bezier(.75,0,.175,1);
            }
        }

        .site-mobile-navigation-layer {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: $mobile-navigation-width;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            transform: translate3d(-100%,0,0);
            transition: transform .4s ease-in-out;
            will-change: transform, visibility, opacity;
            background-color: var(--style-bg-color);
            padding-bottom: spacer(5);
            overscroll-behavior: none; 

            &.site-mobile-navigation-layer-child {
                transform: translate3d(100%,0,0);
                transition: transform 195ms cubic-bezier(.4,0,1,1),opacity 195ms cubic-bezier(.4,0,1,1);
                visibility: hidden;
                opacity: 0;

                &.site-mobile-navigation-layer-visible {
                    visibility: visible;
                    opacity: 1;
                    z-index: 11;
                }

                &.site-mobile-navigation-layer-active {
                    transform: translateZ(0);
                    transition: transform 225ms cubic-bezier(0,0,.2,1),opacity 225ms cubic-bezier(0,0,.2,1);
                }
            }

            .site-mobile-navigation-header {
                padding: 0 var(--style-grid-container-padding-x);

                .site-mobile-navigation-header-inner {
                    display: grid;
                    grid-template-columns: 1fr auto 1fr;
                    padding: spacer(4) 0;
                    border-bottom: 1px solid var(--style-border-color);

                    button[name="site-mobile-navigation-hide-layer"] {
                        margin-right: spacer(3);
                    }

                    .site-mobile-navigation-header-text {
                        font-family: $navigation-font-family;
                        font-style: $navigation-font-style;
                        @if $navigation-letter-spacing != '0' {
                            letter-spacing: $navigation-letter-spacing;
                        }
                        @if $navigation-text-transform != 'none' {
                            text-transform: $navigation-text-transform;
                        }
                    }
                }
            }

            .site-mobile-navigation-menu {
                margin-bottom: 0;
                padding: 0 var(--style-grid-container-padding-x);
                list-style: none;

                & + .site-mobile-navigation-menu-secondary {
                    margin-top: spacer(2);
                }

                .site-mobile-navigation-menu-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3rem 0;
                    border-bottom: 1px solid var(--style-border-color);

                    &:last-child {
                        border-bottom: 0;
                    }

                    .site-mobile-navigation-menu-item-text {
                        text-decoration: none;
                        color: currentColor;
                        font-family: $navigation-font-family;
                        font-style: $navigation-font-style;
                        @if $navigation-letter-spacing != '0' {
                            letter-spacing: $navigation-letter-spacing;
                        }
                        @if $navigation-text-transform != 'none' {
                            text-transform: $navigation-text-transform;
                        }
                    }

                    [name="site-mobile-navigation-show-layer"] {
                        padding-left: spacer(3);
                        padding-right: spacer(3);
                    }
                }
            }

            .site-mobile-navigation-menu-secondary {
                margin-bottom: 0;
                padding: 0 var(--style-grid-container-padding-x);
                list-style: none;

                .site-mobile-navigation-menu-secondary-item {
                    display: flex;
                    justify-content: space-between;
                    margin: spacer(3) * 1.25 0;

                    .site-mobile-navigation-menu-secondary-item-text {
                        text-decoration: none;
                        color: currentColor;
                        font-family: $navigation-font-family;
                        font-style: $navigation-font-style;
                        @if $navigation-letter-spacing != '0' {
                            letter-spacing: $navigation-letter-spacing;
                        }
                        @if $navigation-text-transform != 'none' {
                            text-transform: $navigation-text-transform;
                        }
                    }
                }
            }

            .site-mobile-navigation-social-media-buttons-container {
                display: flex;
                flex-wrap: wrap;
                margin-top: spacer(4);
                padding: 0 var(--style-grid-container-padding-x);

                .social-media-btn {
                    justify-content: flex-start;
                    
                    & +.social-media-btn {
                        margin-left: spacer(3);
                    }
                }
            }
        }

        .site-search {
            position: relative;
    
            &.active {
    
                .site-search-results-container {
                    visibility: visible;
                    z-index: 5;
                }
            }
    
            .site-search-form-container {
                padding: 0 var(--style-grid-container-padding-x);
    
                .site-search-form {
                    display: flex;
                    align-items: center;
                    height: 72px;

                    input[type="search"] {
                        appearance: none;
                        -webkit-appearance: none;

                        &::-webkit-search-decoration,
                        &::-webkit-search-cancel-button,
                        &::-webkit-search-results-button,
                        &::-webkit-search-results-decoration {
                            appearance: none;
                            -webkit-appearance: none;
                        }
                    }

                    button[type="reset"] {
                        pointer-events: none;

                        .svg-icon {
                            visibility: hidden;
                        }
                    }

                    .input-group {

                        &:focus-within {

                            button[type="reset"] {
                                pointer-events: auto;

                                .svg-icon {
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
    
            .site-search-results-container {
                position: absolute;
                left: 0;
                right: 0;
                visibility: hidden;
                z-index: -1;
                background-color: var(--style-bg-color);
                height: 60vh;
                overflow: hidden;
                overscroll-behavior: none;
                @include media-breakpoint-down(lg) {
                    height: calc(var(--site-mobile-navigation-container-height) - 72px);
                }
    
                .site-search-results {
                    height: 100%;
                    overflow: auto;
    
                    .site-search-result-item {
                        display: block;
                        padding: var(--style-grid-container-padding-x);
                        color: currentColor;

                        &:hover {
                            background-color: var(--style-form-bg-hover-color);
                        }
    
                        .site-search-result-item-text {
                            font-family: $navigation-font-family;
                            font-style: $navigation-font-style;
                            font-size: inherit;
                            @if $navigation-letter-spacing != '0' {
                                letter-spacing: $navigation-letter-spacing;
                            }
                            @if $navigation-text-transform != 'none' {
                                text-transform: $navigation-text-transform;
                            }
                        }
                    }
    
                    .site-search-no-results {
                        padding: 0 var(--style-grid-container-padding-x);
                    }
                }
            }
        }
    }

    .site-mobile-navigation-overlay {
        position: fixed;
        transition: background-color 195ms cubic-bezier(.4,0,1,1);
        z-index: -1;
        opacity: 0;

        &.site-mobile-navigation-overlay-visible {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.15);
            z-index: 5;
            opacity: 1;
        }
    }
}