// Product
// -----------------------------------------------------------------------------------------

body {
	&.design-mode {
		
		.product-media {

			#product-main-media-swiper .aspect-ratio-item,
			.product-media-video-icon-container {
				cursor: default;
			}
		}
	}
}

.section-product {
	
	.swiper-vertical {

		.swiper-button-prev,
		.swiper-button-next {
			width: 30px;
			height: 30px;
			left: 50%;
			margin-left: -15px;
		}

		.swiper-button-prev,
		.swiper-rtl .swiper-button-next {
			font-size: 1.5rem;
			top: 4px;
		}

		.swiper-button-next,
		.swiper-rtl .swiper-button-prev {
			font-size: 1.5rem;
			bottom: 4px;
		}
	}

	.product-create-review-layout {

		.product-review-rating {
			display: inline-flex;
			flex-direction: row-reverse;
			line-height: 0;

			> input {
				display: none;
			}

			> label {
				@include font-size($font-size-base * 1.8);
				padding-left: spacer(2);
				margin-bottom: 0;
				line-height: 0;
				cursor: pointer;

				&:last-child {
					padding-left: 0;
				}

				.svg-icon {
					color: var(--style-text-muted-color);
				}
			}

			> input:checked ~ label,
			&:not(:checked) > label:hover,
			&:not(:checked) > label:hover ~ label,
			> input:checked + label:hover,
			> input:checked ~ label:hover,
			> label:hover ~ input:checked ~ label,
			> input:checked ~ label:hover ~ label {

				.svg-icon {
					color: var(--style-review-icon-color);
				}
			}
		}
	}

	.product-container {

		.product-media-container:not(.product-card-grid-item .product-media-container) {
			position: sticky;
			top: var(--style-grid-gutter-width);

			.product-media {
				display: flex;

				#product-main-media-swiper {
					align-self: flex-start;
					padding: 0;

					@include media-breakpoint-up(md) {
						.swiper-slide {
							visibility: hidden;

							&.swiper-slide-active {
								visibility: visible;
							}
						}
					}

					@include media-breakpoint-down(lg) {
						&:has(.swiper-pagination) {

							.product-badges {
								
								&.product-badge-position-bottom-start,
								&.product-badge-position-bottom-end {
									bottom: 3.7em;
								}
							}
						}
					}

					.product-media-video-container {

						.product-media-video-icon-container {
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							height: 100%;

							.product-media-video-icon {
								background-color: var(--style-bg-color);
								stroke: var(--style-text-color);
								border-radius: 50%;
								font-size: 2.5rem;
								padding: spacer(2);
								filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
							}
						}
					}
				}

				#product-thumb-media-swiper {
					height: var(--style-product-thumb-media-swiper-height, auto);
					will-change: height;

					.swiper-slide {
						border: 2px solid transparent;
						height: auto;

						&.swiper-slide-thumb-active  {
							border-color: var(--style-border-accent-color);
						}
					}
				}
			}
		}

		.product-info-container {
			@include media-breakpoint-up(md) {
				position: sticky;
				height: max-content;
				top: 2rem;
			}

			.product-info {

				.form-label {
					letter-spacing: 0;
				}

				> .product-name {

					.product-name-text {
						@include font-size($font-size-base * 2);
						line-height: floor(($font-size-base * 2 * $line-height-base))
					}
				}

				.product-pricing {

					.product-discount {
						@include font-size($font-size-base * 1.1);
						line-height: floor(($font-size-base * 1.1 * $line-height-base))
					}

					.product-price-container {

						.product-sale-price-text {
							@include font-size($font-size-base * 1.6);
							line-height: floor(($font-size-base * 1.6 * $line-height-base))
						}

						.product-price {
							@include font-size($font-size-base * 1.6);
							line-height: floor(($font-size-base * 1.6 * $line-height-base))
						}
					}
				}

				> .product-review-rating {

					#product-show-reviews {
						display: flex;
						align-items: center;
					}

					.product-review-icons {
						display: inline-flex;

						.product-review-icon {
							@include font-size($font-size-base * 2.2);
							margin-right: spacer(1);
							line-height: 0;

							&:last-child {
								margin-right: 0;
							}
						}
					}

					.product-review-text {
						margin-left: spacer(2);
					}
				}

				.product-form {

					.product-availability-notification,
					.product-action-add-to-cart {

						.product-wishlist-action {
							display: flex;
							align-items: center;
							justify-content: center;
							border-width: 2px;
							border-style: solid;
							text-align: center;
							border-radius: var(--style-btn-border-radius);
							width: 4em;
			
							&[aria-pressed="true"],
							&:hover {
								border-color: var(--style-btn-bg-color);
							}
						}
					}
				}
			}
		}

		.product-reviews {

			.product-review-icons {
				display: inline-flex;
		
				.product-review-icon {
					@include font-size($font-size-base * 1.3);
					margin-right: spacer(1);
					line-height: 0;
		
					&:last-child {
						margin-right: 0;
					}
				}
			}

			.product-reviews-content {
				max-height: 600px;
				overflow: auto;

				&.has-content {
					margin-top: spacer(4);
				}
			}

			.product-review-rating {

				label {

					.svg-icon {
						color: var(--style-text-muted-color);
					}
				}

				> input:checked ~ label,
				&:not(:checked) > label:hover,
				&:not(:checked) > label:hover ~ label,
				> input:checked + label:hover,
				> input:checked ~ label:hover,
				> label:hover ~ input:checked ~ label,
				> input:checked ~ label:hover ~ label {

					.svg-icon {
						color: var(--style-review-icon-color);
					}
				}
			}

			.product-review-rating {
				display: inline-flex;
				flex-direction: row-reverse;
				line-height: 0;

				> input {
					display: none;
				}

				> label {
					@include font-size($font-size-base * 1.8);
					padding-right: spacer(2);
					margin-bottom: 0;
					line-height: 0;
					cursor: pointer;

					&:last-child {
						padding-left: 0;
					}
				}
			}

			.product-review {

				& + .product-review {
					margin-top: spacer(4);
				}

				.product-review-title {
					@include font-size($font-size-base * 1.2);
					font-weight: $font-weight-bold;
					margin-bottom: spacer(3);
				}

				.product-review-content {
					margin-top: spacer(3);
				}
			}
		}
	}
}