// Common
// -----------------------------------------------------------------------------------------

html {
    height: 100%;
    background-color: var(--style-footer-bg-color);
    -webkit-font-smoothing: antialiased;
}

body {
    font-style: $font-style;
    @if $letter-spacing != '0' {
        letter-spacing: $letter-spacing;
    }
    
    &.disable-scroll {
        overflow: hidden;
    }

    & > #search-overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.15);
        z-index: 5;
        height: 100%;
    }

    &.is-ios {

        // Blink input opacity to prevent automatic scroll to the focused element on IOS devices
        @keyframes blinkInputFix {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        // In order to prevent automatic zooming on IOS devices when the user
        // focuses on an input field we must set its font-size at least 16px.
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        textarea {
            font-size: 16px !important;

            &:focus {
                animation: blinkInputFix 0.01s;
            }
        }
    }
}

a {
    color: var(--style-link-color);

    &:hover,
    &:focus,
    &:active {
        color: var(--style-link-color);
    }
}