// Container
// -----------------------------------------------------------------------------------------

@mixin make-container($gutter: $container-padding-x) {
    --#{$prefix}gutter-x: #{$gutter};
    --#{$prefix}gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--#{$prefix}gutter-x));
    padding-left: calc(var(--#{$prefix}gutter-x));
    padding-top: calc(var(--style-grid-container-padding-y, 0));
    padding-bottom: calc(var(--style-grid-container-padding-y, 0));
    margin-right: auto;
    margin-left: auto;
}