// Aspect ratio
// -----------------------------------------------------------------------------------------

@each $breakpoint in map-keys($grid-breakpoints) {

	@include media-breakpoint-up($breakpoint) {

		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $key in map-keys($aspect-ratios) {

		    .aspect-ratio#{$infix}-#{$key} {
				@include aspect-ratio($key);
			}

			.aspect-ratio#{$infix}-auto {
				display: grid;
				grid-template-columns: minmax(auto, calc(100% * var(--img-scale-ratio, 1)));
			
				&.justify-content-start > .aspect-ratio-container {
					justify-content: start;
				}
			
				&.justify-content-center > .aspect-ratio-container {
					justify-content: center;
				}
			
				&.justify-content-end > .aspect-ratio-container {
					justify-content: end;
				}
			
				> .aspect-ratio-container {
					display: flex;
					justify-content: center;
					aspect-ratio: auto;
			
					.aspect-ratio-item {
						max-width: 100%;
						height: auto;
						border-radius: var(--style-image-border-radius);
					}
				}
			}

			.aspect-ratio#{$infix}-cover {
				display: grid;
				grid-template-columns: minmax(auto, calc(100% * var(--img-scale-ratio, 1)));
				height: 100%;
			
				> .aspect-ratio-container {
					display: flex;
					justify-content: center;
					aspect-ratio: auto;
			
					.aspect-ratio-item {
						max-width: 100%;
						height: auto;
						border-radius: var(--style-image-border-radius);
					}
				}
			}
		}
	}
}