// Generate utilities
// -----------------------------------------------------------------------------------------

$utilities: map-merge(
    $utilities,
    (
        "z-index": (
            property: z-index,
            class: z,
            values: $zindex-levels
        ),
        "position": (
            property: position,
            class: position,
            responsive: true,
            values: (
                "static": static,
                "fixed": fixed,
                "absolute": absolute,
                "relative": relative,
                "sticky": sticky
            )
        ),
        "gap": (
            property: gap,
            class: gap,
            responsive: true,
            values: $spacers
        ),
        "row-gap": (
            property: row-gap,
            class: row-gap,
            responsive: true,
            values: $spacers
        ),
        "column-gap": (
            property: column-gap,
            class: column-gap,
            responsive: true,
            values: $spacers
        ),
        "place-content": (
            property: place-content,
            class: place-content,
            responsive: true,
            values: (
                "center-start": center start,
                "start-center": start center,
                "center-normal": center normal,
                "end": end,
                "end-center": end center,
                "end-left": end left,
                "end-space-between": end space-between,
                "flex-start-center": flex-start center,
                "flex-end-center": flex-end center,
                "baseline-center": baseline center,
                "first-baseline-space-evenly": first baseline space-evenly,
                "last-baseline-right": last baseline right,
                "space-between-space-evenly": space-between space-evenly,
                "space-around-space-evenly": space-around space-evenly,
                "space-around-start": space-around start,
                "space-evenly-stretch": space-evenly stretch,
                "stretch-space-evenly": stretch space-evenly
            )
        ),
        "place-items": (
            property: place-items,
            class: place-items,
            responsive: true,
            values: (
                "center": center,
                "center-stretch": center stretch,
                "center-start": center start,
                "normal-start": normal start,
                "center-normal": center normal,
                "start-end": start end,
                "start-legacy": start legacy,
                "end-center": end center,
                "end-normal": end normal,
                "self-start-legacy": self-start legacy,
                "self-end-normal": self-end normal,
                "flex-start-legacy": flex-start legacy,
                "flex-end-normal": flex-end normal,
                "baseline-normal": baseline normal,
                "first-baseline-legacy": first baseline legacy,
                "last-baseline-normal": last baseline normal,
                "stretch-legacy": stretch legacy
            )
        ),
        "place-self": (
            property: place-self,
            class: place-self,
            responsive: true,
            values: (
                "center": center,
                "auto-center": auto center,
                "normal-start": normal start,
                "center-normal": center normal,
                "start-auto": start auto,
                "start-end": start end,
                "end-normal": end normal,
                "end-center": end center,
                "self-start-auto": self-start auto,
                "self-end-normal": self-end normal,
                "flex-start-auto": flex-start auto,
                "flex-end-normal": flex-end normal,
                "baseline-normal": baseline normal,
                "first-baseline-auto": first baseline auto,
                "last-baseline-normal": last baseline normal,
                "stretch-auto": stretch auto,
                "stretch-center": stretch center
            )
        ),
        "cursor": (
            property: cursor,
            class: cursor,
            responsive: true,
            values: auto pointer grab zoom-in
        ),
        "background-color": map-merge(
            map-get($utilities, "background-color"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "background-color"), "values"),
                    (
                        "accent": var(--style-bg-accent-color)
                    )
                )
            )
        ),
        "width": (
            property: width,
            class: w,
            responsive: true,
            values: $sizes-percentage
        ),
        "max-width": (
            property: max-width,
            class: max-w,
            responsive: true,
            values: $sizes-percentage
        ),
        "min-width": (
            property: min-width,
            class: min-w,
            responsive: true,
            values: $sizes-percentage
        ),
        "width-px": (
            property: width,
            class: w-px,
            responsive: true,
            values: $sizes-px
        ),
        "max-width-px": (
            property: max-width,
            class: max-w-px,
            responsive: true,
            values: $sizes-px
        ),
        "min-width-px": (
            property: min-width,
            class: min-w-px,
            responsive: true,
            values: $sizes-px
        ),
        "viewport-width": (
            property: width,
            class: vw,
            responsive: true,
            values: $sizes-vw
        ),
        "max-viewport-width": (
            property: max-width,
            class: max-vw,
            responsive: true,
            values: $sizes-vw
        ),
        "min-viewport-width": (
            property: min-width,
            class: min-vw,
            responsive: true,
            values: $sizes-vw
        ),
        "height": (
            property: height,
            class: h,
            responsive: true,
            values: $sizes-percentage
        ),
        "max-height": (
            property: max-height,
            class: max-h,
            responsive: true,
            values: $sizes-percentage
        ),
        "min-height": (
            property: min-height,
            class: min-h,
            responsive: true,
            values: $sizes-percentage
        ),
        "height-px": (
            property: height,
            class: h-px,
            responsive: true,
            values: $sizes-px
        ),
        "max-height-px": (
            property: max-height,
            class: max-h-px,
            responsive: true,
            values: $sizes-px
        ),
        "min-height-px": (
            property: min-height,
            class: min-h-px,
            responsive: true,
            values: $sizes-px
        ),
        "viewport-height": (
            property: height,
            class: vh,
            responsive: true,
            values: $sizes-vh
        ),
        "max-viewport-height": (
            property: max-height,
            class: max-vh,
            responsive: true,
            values: $sizes-vh
        ),
        "min-viewport-height": (
            property: min-height,
            class: min-vh,
            responsive: true,
            values: $sizes-vh
        ),
        "line-height": (
            property: line-height,
            class: lh,
            values: (
                0: 0,
                1: 1,
                sm: $line-height-sm,
                base: $line-height-base,
                lg: $line-height-lg
            )
        )
    )
);