// Media
// -----------------------------------------------------------------------------------------

img.lazy {
	opacity: 0;

	&:not(.initial):not(.lazy-disable-transition) {
		transition: opacity .5s;
	}
}

img.lazy-disable-transition,
img.initial,
img.loaded,
img.error {
	opacity: 1;
}

img.border-radius {
	border-radius: var(--style-image-border-radius) !important;
}

body.animations-enabled {

	[data-aos] {
		visibility: hidden;

		&:not(.animation-animated) {
			
			.form-check-color-swatch .form-check-input:active + .form-check-label:before,
			.form-check-color-swatch .form-check-input:checked + .form-check-label:before,
			.form-check-color-swatch .form-check-input[type=checkbox]:indeterminate + .form-check-label:before {
				visibility: hidden;
			}
		}
	}

	[data-aos].animation-animated {
		visibility: visible;
	}
}

.img-indicator-zoom {

	&.lazy {
		transition: transform .95s cubic-bezier(.25,.46,.45,.94);
	
		&:hover {
			transform: scale(1.07);
		}
	}

	&:has(img) {

		img {
			transition: transform .95s cubic-bezier(.25,.46,.45,.94);
	
			&.lazy:not(.initial):not(.lazy-disable-transition) {
				transition: opacity .5s, transform .95s cubic-bezier(.25,.46,.45,.94);
			}
		}
	
		&:hover {
	
			img {
				transform: scale(1.07);
			}
		}
	}
}